body {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 239, 239);
    color: black;
    direction: rtl;
} 

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

